.postContnet1 {
  width: 100%;
  height: auto;
  text-align: left;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 2rem;

  background-color: red;
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
}

.postContnet1:hover,
.postContnet1:active {
  background-color: #c0ddf5;
}
