.postContent {
  width: 100%;
  text-align: left;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: red;
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
}

.postContent:hover,
.postContent:active {
  background-color: #c0ddf5;
}

.headerContent {
  display: flex;
  flex-flow: row wrap;
}
.titleContent {
  margin-left: 1rem;
}
ui .card {
  width: 100%;
  text-align: left;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: red;
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
}
